

h1,h2,h3,h4,h5,p,li,a, address {
font-family: 'Work Sans', sans-serif;
color: #1d1d1d;
}


.hero-picture {
background: url("../images/colapsed-sculpture.jpg");
background-size:cover;
background-position: 50% 50%;
background-repeat: no-repeat;
}

.hero-panel-contact {
background: url("../images/contaact-lucy-barlow.jpg");
background-size:cover;
background-position: 50% 50%;
background-repeat: no-repeat;	
}

.hero-panel-about {
background: url("../images/about_lucy.jpg");
background-size:cover;
background-position: 50% 50%;
background-repeat: no-repeat;	
}

.hero-panel-0 {
background: url("../images/art0.jpg");
background-size:cover;
background-position: 50% 50%;
background-repeat: no-repeat;	
}

.hero-panel-1 {
background: url("../images/art1.jpg");
background-size:cover;
background-position: 50% 50%;
background-repeat: no-repeat;	
}

.hero-panel-2 {
background: url("../images/art2.jpg");
background-size:cover;
background-position: 50% 50%;
background-repeat: no-repeat;	
}

.hero-panel-3 {
background: url("../images/art3.jpg");
background-size:cover;
background-position: 50% 50%;
background-repeat: no-repeat;	
}

.hero-panel-4 {
background: url("../images/art4.jpg");
background-size:cover;
background-position: 50% 50%;
background-repeat: no-repeat;	
}

.hero-panel-5 {
background: url("../images/art5.jpg");
background-size:cover;
background-position: 50% 50%;
background-repeat: no-repeat;	
}

.hero-panel-6 {
background: url("../images/art6.jpg");
background-size:cover;
background-position: 50% 50%;
background-repeat: no-repeat;	
}

.hero-panel-7 {
background: url("../images/art7.jpg");
background-size:cover;
background-position: 50% 50%;
background-repeat: no-repeat;	
}


header {
position: fixed;
z-index: 10;
top: 0;
left: 0;
width: 100vw;
}

.wrapper {
height: 100vh;
width: 100vw;	
}

h1.page-title {
margin: 10px 0;
font-size: 26px;
}

.navbar {
padding: 0;
margin-top: 7px;
}

.f-h {
	height: 100%;
}

.v {
	display: flex;
	align-items: center;
}

.v-i {
	display: flex;
	width: 100%;
}

.v-w-r {
	width: 75%;
	margin: 0 auto;
}


.gallery-section {
	height: 450px;
}

.headline h1 {
	margin: 90px 0 30px;
	display: block;
}

.g-i.img-responsive {
	max-height: 360px;
}

.gallery h2 {
	font-size: 16px;
	margin: 10px 0;
}

.gallery h3 {
		font-size: 11px;
}


.img-responsive {
	width: 100%;
	max-width: 100%;
}

header {
	background: white;
}

.navbar {
    padding: 0;
    margin-top: 7px;
    width: initial;
    display: block;
    float: right;
}


@media (max-width: 575px) { 
	
	 }

@media (max-width: 767px) { 
	 
	 
	 }


@media (max-width: 991px) { 
	
}

@media (max-width: 1199px) { 
	
}